export(
       bpmat,
       bpfun,
       bp.contrasts,
       bp.means,
       bp.anova,
       bp.pvals,
       bp.error,
       bp.fstats,
       bp.vcov,
       calc.cpcerr,
       coverfun,
       covmat,
       cpc,
       cpc_object,
       cpc_LRT,
       cpc.options,
       fgcpc,
       fgpartial_cpc,
       h_cpc,
       h_many,
       h_one,
       h_reduce,
       h_sphere,
       makeSymmetric,
       meancorrect,
       new_cpc,
       nullsim,
       nullFstats,
       partial_cpc,
       plot_dat.theor,
       plot_multigrp,
       posDef,
       random_rotation,
       random_rotation_matrix,
       run.cpc,
       phillips.cpcvec,
       phillips.cpc,
       read.cpc,
       pooled.cpc,
       pbperr,dbperr,qbperr,rbperr,
       simdata,
       sim.theor,
       skip.blank.lines,
       skip.pattern.lines,
       strip.blanks)
